<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="keywords" content="安法斯" />
		<title>南京安法斯通讯技术有限公司</title>
		<link rel="stylesheet" href="../css/main.css" />
		<style type="text/css">
			.products-list a {
				font-size: 13px;
			}
			
			.products-list tr>td:first-child {
				height: 60px;
				width: 60px;
			}
		</style>

	</head>

	<body>
		<div class="main-container">
			<%-include('../header')%>
          <!--主内容开始-->
			<div id="main-body" class="main-body">
				<%-include('searchmode')%>
				<div class="products" id="products">
					<div class="products-nav">
						<a href="/" style="text-decoration: none;color: white;">主页</a>>
						<a>连接器</a>
					</div>
					<div class="products-introduction">
						<br />
						<h1>连接器</h1>
						<hr />
					</div>
				</div>
				<div id="products-list" class="products-list">
					<table>
						<tr>
							<td></td>
							<td>
								<a href="../product/viewadapter?pname=<%=encodeURIComponent('SMA 系列内连接器')%>">SMA 系列内连接器</a>
							</td>
						</tr>
						<tr>
							<td></td>
							<td>
								<a href="../product/viewadapter?pname=<%=encodeURIComponent('SMA 系列间连接器')%>">SMA 系列间连接器</a>
							</td>
						</tr>
						<tr>
							<td></td>
							<td>
								<a href="../product/viewadapter?pname=<%=encodeURIComponent('TYPE N 系列内连接器')%>">TYPE N 系列内连接器</a>
							</td>
						</tr>
						<tr>
							<td></td>
							<td>
								<a href="../product/viewadapter?pname=<%=encodeURIComponent('TYPE N 系列间连接器')%>">TYPE N 系列间连接器</a>
							</td>
						</tr>
						<tr>
							<td></td>
							<td>
								<a href="../product/viewadapter?pname=<%=encodeURIComponent('TNC 系列内连接器')%>">TNC 系列内连接器</a>
							</td>
						</tr>
						<tr>
							<td></td>
							<td>
								<a href="../product/viewadapter?pname=<%=encodeURIComponent('TNC 系列间连接器')%>">TNC 系列间连接器</a>
							</td>
						</tr>
						<tr>
							<td></td>
							<td>
								<a href="../product/viewadapter?pname=<%=encodeURIComponent('BNC 系列间连接器')%>">BNC 系列间连接器</a>
							</td>
						</tr>
						<tr>
							<td></td>
							<td>
								<a href="../product/viewadapter?pname=<%=encodeURIComponent('TYPE F 系列间连接器')%>">TYPE F 系列间连接器</a>
							</td>
						</tr>
						<tr>
							<td></td>
							<td>
								<a href="../product/viewadapter?pname=<%=encodeURIComponent('7/16 DIN 系列内连接器')%>">7/16 DIN 系列内连接器</a>
							</td>
						</tr>
						<tr>
							<td></td>
							<td>
								<a href="../product/viewadapter?pname=<%=encodeURIComponent('7/16 DIN 系列间连接器')%>">7/16 DIN 系列间连接器</a>
							</td>
						</tr>
						<tr>
							<td></td>
							<td>
								<a href="../product/viewadapter?pname=<%=encodeURIComponent('1.85mm 系列内连接器')%>">1.85mm 系列内连接器</a>
							</td>
						</tr>
						<tr>
							<td></td>
							<td>
								<a href="../product/viewadapter?pname=<%=encodeURIComponent('2.4mm 系列内连接器')%>">2.4mm 系列内连接器</a>
							</td>
						</tr>
						<tr>
							<td></td>
							<td>
								<a href="../product/viewadapter?pname=<%=encodeURIComponent('2.4mm 系列间连接器')%>">2.4mm 系列间连接器</a>
							</td>
						</tr>
						<tr>
							<td></td>
							<td>
								<a href="../product/viewadapter?pname=<%=encodeURIComponent('2.9mm 系列内连接器')%>">2.9mm 系列内连接器</a>
							</td>
						</tr>
						<tr>
							<td></td>
							<td>
								<a href="../product/viewadapter?pname=<%=encodeURIComponent('2.9mm 系列间连接器')%>">2.9mm 系列间连接器</a>
							</td>
						</tr>
						<tr>
							<td></td>
							<td>
								<a href="../product/viewadapter?pname=<%=encodeURIComponent('3.5mm 系列内连接器')%>">3.5mm 系列内连接器</a>
							</td>
						</tr>
						<tr>
							<td></td>
							<td>
								<a href="../product/viewadapter?pname=<%=encodeURIComponent('3.5mm 系列间连接器')%>">3.5mm 系列间连接器</a>
							</td>
						</tr>
					</table>

				</div>

			</div>
			<%-include('../footer')%>
		</div>
		<script type="text/javascript" src="../js/jquery-1.12.4.min.js"></script>
		<script type="text/javascript" src="../js/header.js"></script>
	</body>

</html>