<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="keywords" content="安法斯" />
		<title>南京安法斯通讯技术有限公司</title>
		<link rel="stylesheet" href="../css/main.css" />
		<style type="text/css">
			.products-list a {
				font-size: 13px;
			}
			
			.products-list img {
				width: 60px;
				border: 1px solid #8996A0;
			}
		</style>

	</head>

	<body>
		<div class="main-container">
			<%-include('../header')%>
			<!--主内容开始-->
			<div id="main-body" class="main-body">
				<div id="main-body" class="main-body">
					<%-include('searchmode')%>
					<div class="products" id="products">
						<div class="products-nav">
							<a href="/" style="text-decoration: none;color: white;">主页</a>>
							<a>固定衰减器</a>
						</div>
						<div class="products-introduction">
							<br />
							<h1>固定衰减器</h1>
							<hr />
						</div>
					</div>
					<div id="products-list" class="products-list">
						<table>
							<tr>
								<td><img src="../img/att_simu_termi/0.5Wattenuator.png" /></td>
								<td>
									<a href="../product/viewattenuator?pname=<%=encodeURIComponent('0.5 瓦，1 瓦和 2 瓦衰减器')%>">0.5 瓦，1 瓦和 2 瓦衰减器</a>
								</td>
							</tr>
							<tr>
								<td><img src="../img/att_simu_termi/2Wattenuator.png" /></td>
								<td>
									<a href="../product/viewattenuator?pname=<%=encodeURIComponent('2 瓦衰减器N,BNC,SMB,TNC')%>">2 瓦衰减器N,BNC,SMB,TNC</a>
								</td>
							</tr>
							<tr>
								<td><img src="../img/att_simu_termi/5Wattenuator.png" /></td>
								<td>
									<a href="../product/viewattenuator?pname=<%=encodeURIComponent('5 瓦衰减器，风冷方式')%>">5 瓦衰减器，风冷方式</a>
								</td>
							</tr>
							<tr>
								<td><img src="../img/att_simu_termi/10Wattenuator.png" /></td>
								<td>
									<a href="../product/viewattenuator?pname=<%=encodeURIComponent('10 瓦衰减器，风冷方式')%>">10 瓦衰减器，风冷方式</a>
								</td>
							</tr>
							<tr>
								<td><img src="../img/att_simu_termi/20Wattenuator.png" /></td>
								<td>
									<a href="../product/viewattenuator?pname=<%=encodeURIComponent('20 瓦衰减器，风冷方式')%>">20 瓦衰减器，风冷方式</a>
								</td>
							</tr>
							<tr>
								<td><img src="../img/att_simu_termi/25Wattenuator.png" /></td>
								<td>
									<a href="../product/viewattenuator?pname=<%=encodeURIComponent('25 瓦衰减器，风冷方式')%>">25 瓦衰减器，风冷方式</a>
								</td>
							</tr>
							<tr>
								<td><img src="../img/att_simu_termi/50Wattenuator.png" /></td>
								<td>
									<a href="../product/viewattenuator?pname=<%=encodeURIComponent('50 瓦衰减器，风冷方式')%>">50 瓦衰减器，风冷方式</a>
								</td>
							</tr>
							<tr>
								<td><img src="../img/att_simu_termi/100Wattenuator.png" /></td>
								<td>
									<a href="../product/viewattenuator?pname=<%=encodeURIComponent('100 瓦衰减器，风冷方式')%>">100 瓦衰减器，风冷方式</a>
								</td>
							</tr>
							<tr>
								<td><img src="../img/att_simu_termi/150Wattenuator.png" /></td>
								<td>
									<a href="../product/viewattenuator?pname=<%=encodeURIComponent('150 瓦衰减器，风冷方式')%>">150 瓦衰减器，风冷方式</a>
								</td>
							</tr>
							<tr>
								<td><img src="../img/att_simu_termi/200Wattenuator.png" /></td>
								<td>
									<a href="../product/viewattenuator?pname=<%=encodeURIComponent('200 瓦衰减器，风冷方式')%>">200 瓦衰减器，风冷方式</a>
								</td>
							</tr>
							<tr>
								<td><img src="../img/att_simu_termi/300Wattenuator.png" /></td>
								<td>
									<a href="../product/viewattenuator?pname=<%=encodeURIComponent('300 瓦衰减器，风冷方式')%>">300 瓦衰减器，风冷方式</a>
								</td>
							</tr>
						</table>

					</div>

				</div>
				<%-include('../footer')%>
			</div>
			<script type="text/javascript" src="../js/jquery-1.12.4.min.js"></script>
			<script type="text/javascript" src="../js/header.js"></script>
	</body>

</html>