<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="keywords" content="安法斯" />
		<title>南京安法斯通讯技术有限公司</title>
		<link rel="stylesheet" href="../css/main.css" />
		<style type="text/css">
			.products-list table {
				width: 100%;
				text-align: center;
				border-collapse: collapse;
			}
			.products-list table thead th{
				background: #DDDDDD;
			}
			.products-list table tbody tr{
				height: 30px;
			}
			.products-list table tbody tr:nth-child(2n){
				background: #E2E2E2;
			}
		</style>

	</head>

	<body>
		<div class="main-container" id="main-container">
			<%-include('../header')%>
			<!--主内容开始-->
			<div id="main-body" class="main-body">
				<%-include('searchmode')%>
				<div class="products" id="products">
					<div class="products-nav">
						<a href="/" style="text-decoration: none;color: white;">主页</a>>
						<a id="products-nav-title">固定衰减器</a>
					</div>
					<div class="products-introduction">
						<br />
						<h1 id="view-title"><%=proinfo[0].p_name%></h1>
						<hr />
					</div>
				</div>
				<div id="products-list" class="products-list">
					<table>
						<thead>
							<tr>
								<th>型号</th>
								<th>工作频率(GHz)</th>
								<th>接头类型</th>
								<th>驻波比</th>
								<th>衰减值</th>
							</tr>
							<tr>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tbody id="products-list-content" class="products-list-content">
							<%for(var i=0,j=proinfo.length;i<j;i++){%>
								<tr>
									<td><%=proinfo[i].number%></td>
									<td><%=proinfo[i].freq%></td>
									<td><%=proinfo[i].connector%></td>
									<td><%=proinfo[i].vswr%></td>
									<td><%=proinfo[i].attn%></td>
								</tr>
								
							<%}%>
						</tbody>
					</table>

				</div>

			</div>
			<%-include('../footer')%>
		</div>
		<script type="text/javascript" src="../js/jquery-1.12.4.min.js"></script>
		<script type="text/javascript" src="../js/header.js"></script>
		<script type="text/javascript">
		</script>
	</body>

</html>